@namespace Share

<div class="flex space-x-2 justify-center items-center h-screen">
	<div class="size-10 bg-orange-300 rounded-full animate-bounce [animation-delay:-0.3s]" />
	<div class="size-10 bg-orange-500 rounded-full animate-bounce [animation-delay:-0.15s]" />
	<div class="size-10 bg-orange-700 rounded-full animate-bounce" />
</div>