@page
@model Fitnez.Identity.Pages.Login.Index

<div class="flex flex-col gap-4">
    
    <partial name="_ValidationSummary" />

    <div class="flex flex-col gap-4">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <div class="rounded-lg border border-gray-600 flex flex-col gap-4">
                    <h3 class="rounded-t-lg p-2 bg-gray-700 text-lg leading-6 font-medium text-gray-400 text-center">
                        Please Login...
                    </h3>

                    <form asp-page="/Account/Login/Index" class="px-4 pb-2 flex flex-col gap-4">
                        <input asp-for="Input.ReturnUrl" type="hidden" />

                        <div class="relative z-0 w-full mb-5 pt-2 group">
                            <input asp-for="Input.Username" type="text" placeholder=" " autofocus class="block py-2 px-0 w-full text-base bg-transparent border-0 border-b-2 appearance-none text-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 autofill:bg-transparent peer" />
                            <label asp-for="Input.Username" class="peer-focus:font-medium absolute text-base text-gray-400 duration-300 transform -translate-y-4 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-orange-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Email</label>
                        </div>

                        <div class="relative z-0 w-full mb-5 pt-2 group">
                            <input asp-for="Input.Password" type="password" placeholder=" " autocomplete="off" class="block py-2 px-0 w-full text-base bg-transparent border-0 border-b-2 appearance-none text-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 autofill:bg-transparent peer" />
                            <label asp-for="Input.Password" class="peer-focus:font-medium absolute text-base text-gray-400 duration-300 transform -translate-y-4 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-orange-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Password</label>
                        </div>

                        @if (Model.View.AllowRememberLogin)
                        {
                            <div class="flex items-center">
                                <input asp-for="Input.RememberLogin" type="checkbox" class="size-3.5 rounded bg-transparent checked:text-orange-400 checked:disabled:bg-gray-500
                                    border-gray-600 focus:border-transparent focus:outline-orange-400 focus:outline-offset-1
                                    focus:ring-transparent focus:ring-offset-transparent">
                                <label asp-for="Input.RememberLogin" class="ms-2 text-sm font-medium text-gray-400">Remember My Login</label>
                            </div>
                        }

                        <div class="p-2 px-4 flex items-center justify-between">
                            <button name="Input.Button" value="login" class=" px-5 py-2.5 m-2 rounded-lg text-sm font-medium text-white bg-orange-400 hover:bg-orange-500 focus:ring-1 focus:outline-none focus:ring-orange-600">Login</button>
                            <button name="Input.Button" value="cancel" class="px-5 py-2.5 m-2 rounded-lg text-sm font-medium text-white hover:text-orange-400 bg-transparent border border-orange-400 hover:border-orange-500 focus:ring-1 focus:outline-none focus:ring-orange-600">Cancel</button>
                        </div>

                    </form>                    
                </div>
            </div>
        }
                
        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>